.header{
    height: 7rem;
    font-size: 1.4rem;
    background-color: #fff;
    border-bottom: var(--line);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 3.25rem;
    margin-left: 2rem;
}
